[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
asyncpg = "*"
aiohttp-cors = "*"
bcrypt = "*"
python-dateutil = "*"
phonenumbers = "*"
email-validator = "*"

[dev-packages]
